@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --spacing-page: 900px;
  --spacing-content: 30px;
  --spacing-inner: 7px;
  --spacing-base: 15px;
  --radius-base: 15px;
  --color-primary: #5d776c;
  --color-secundary-on-dark: #fbf7ee;
  --color-secundary-on-light: #cd482c;
  --color-screen: #ededed;
}

#main {
  scroll-margin-top: 80px;
}
