@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --spacing-page: 900px;
  --spacing-content: 30px;
  --spacing-inner: 7px;
  --spacing-base: 15px;
  --radius-base: 15px;
  --color-primary: #5d776c;
  --color-secundary-on-dark: #f3e9d2;
  --color-secundary-on-light: #d75e46;
  --color-screen: #ededed;
}
