@import "tailwindcss";

@theme {
  --spacing-content: 30px;
  --spacing-inner: 7px;
  --radius-base: 15px;
  --color-primary: #5d776c;
  --color-secundary-on-dark: #f3e9d2;
  --color-secundary-on-light: #d75e46;
}
