---
import pageconfig from "../pageconfig.json";
import BaseLayout from "../layouts/BaseLayout.astro";
import FaqResponseAnswer from "../components/FaqResponseAnswer.astro";
import * as faq_md from "../content/faq.md";
---

<BaseLayout title={pageconfig.sitetitel + " | FAQ"}>
    <article class="prose text-center max-w-none">
		<Fragment set:html={faq_md.compiledContent()} />
	</article>
    <div class="flex flex-col gap-content">
        {faq_md.frontmatter.items.map((item: {vraag: string, antwoord: string}, id: number) => (
            <FaqResponseAnswer question={item.vraag} answer={item.antwoord} key={id.toString()} />
        ))}
    </div>
</BaseLayout>