---
import "../styles/global.css";
import ArticleCard from "../components/ArticleCard.astro";
import SeparationBar from "../components/SeparationBar.astro";

import my_test_image from "../assets/frosted-glass-texture-thumb21.png";
import { Tag } from "../util/types";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class:list={["bg-gray-100", "flex", "flex-col", "gap-content", "p-content"]}>
		<h1>Astro</h1>
		<div>
			<ArticleCard src={my_test_image} title="My first article" date="15/04/2026" tag={Tag.READING} />
		</div>
		<SeparationBar />
	</body>
</html>
