---
import "../styles/global.css";
import BaseImage from "../components/BaseImage.astro";
import my_test_image from "../assets/frosted-glass-texture-thumb21.png";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<BaseImage src={my_test_image} alt="Test image" />
	</body>
</html>
