---
import type { HTMLAttributes } from 'astro/types';
import { twMerge, type ClassNameValue } from "tailwind-merge";

interface Props extends HTMLAttributes<"button"> {
    onLight: boolean;
    useFlatLeft?: boolean;
    useFullRound?: boolean;
    useBorderOnly?: boolean;
    $class?: ClassNameValue;
}

const {onLight, useFlatLeft = false, useFullRound = false, useBorderOnly = false, $class, ...extras} = Astro.props;
---

{(useBorderOnly) ? (
    <button class={twMerge("cursor-pointer", useFullRound ? "rounded-full" : "rounded-base", "shadow-sm/25 inset-shadow-sm/25 p-inner border border-solid", (onLight ? "border-secundary-on-light" : "border-secundary-on-dark"), useFlatLeft && "rounded-l-none", "active:opacity-75", $class)} {...extras}><slot /></button>
) : (
    <button class={twMerge("cursor-pointer", useFullRound ? "rounded-full" : "rounded-base", "shadow-sm/25 p-inner", (onLight ? "bg-secundary-on-light" : "bg-secundary-on-dark"), useFlatLeft && "rounded-l-none", "active:opacity-75", $class)} {...extras}><slot /></button>
)}