---
import type { HTMLAttributes } from 'astro/types';
import { twMerge, type ClassNameValue } from "tailwind-merge";

const variant_styles = {
    light_fill: "bg-secundary-on-light",
    dark_line: "border-secundary-on-dark inset-shadow-sm/25 border border-solid"
};

interface Props extends HTMLAttributes<"button"> {
    variant: 'light_fill' | 'dark_line';
    $class?: ClassNameValue;
}

const {variant, $class, ...extras} = Astro.props;
---

<button class={twMerge("cursor-pointer rounded-full shadow-sm/25 p-inner active:opacity-75", variant_styles[variant], $class)} {...extras}>
    <slot />
</button>