---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";
import { twMerge, type ClassNameValue } from 'tailwind-merge';
import {jssToInlineCss, type JssSheet_t} from "../util/jss";

interface Props extends HTMLAttributes<"a"> {
    href: string;
    icon_id: string;
    foreground?: string;
    background?: string;
    $class?: ClassNameValue
}

const {href, icon_id, foreground, background, $class, ...extras} = Astro.props;

const dynamic_style: JssSheet_t = {
    background: background ?? null,
    color: foreground ?? null
};
---

<a href={href} class={twMerge($class)} {...extras}>
    <div style={jssToInlineCss(dynamic_style)} class="shadow-sm/25 w-12 h-12 flex justify-center items-center rounded-full">
        <Icon name={icon_id} size={38} />
    </div>
</a>