---
import type { HTMLAttributes } from 'astro/types';
import { twMerge, type ClassNameValue } from 'tailwind-merge';

interface Props extends HTMLAttributes<"div"> {
    name: string;
    $class?: ClassNameValue;
}

const {name, $class, ...extras} = Astro.props;

---

<div class={twMerge("text-red-500", $class)} {...extras}>
    {name}
</div>