---
import Button from "../components/Button.astro";
import SocialMediaIcon from "../components/SocialMediaIcon.astro";
import pageconfig from "../pageconfig.json";
---

<footer class="p-content pb-inner flex flex-col gap-content w-full max-w-page m-auto">
    <div class="flex justify-center gap-content">
        {pageconfig.socials.map(v => (
            <SocialMediaIcon iconId={v.icon} href={v.link} background={v.achtergrond} voorgrond={"voorgrond" in v ? v.voorgrond as string : "white"} />
        ))}
    </div>

    <a href={pageconfig.maillist} class="w-full">
        <Button variant="dark_line" $class="text-secundary-on-dark px-base w-full">
            Registreer voor de maillijst
        </Button>
    </a>

    <a href="https://icon-sets.iconify.design/ic/" class="text-white italic text-center text-sm opacity-65">(Credits) Iconen gebruikt van Google</a>
</footer>