---
import MaillistSubscribe from "../components/MaillistSubscribe.svelte";
import SocialMediaIcon from "../components/SocialMediaIcon.astro";
import pageconfig from "../pageconfig.json";


// TODO: Credits https://icon-sets.iconify.design/ic/

---

<footer class:list={["p-content", "flex", "flex-col", "gap-content", "w-full", "max-w-page", "m-auto"]}>
    <div class:list={["flex", "justify-center", "gap-content"]}>
        {pageconfig.socials.map(v => (
            <SocialMediaIcon iconId={v.icon} href={v.link} background={v.achtergrond} voorgrond={"voorgrond" in v ? v.voorgrond as string : "white"} />
        ))}
    </div>
    <MaillistSubscribe client:load />
</footer>