---
import Footer from '../partials/Footer.astro';

interface Props {
    title: string;
    icon?: string; // for example /favicon.ico
}

const {title, icon = null} = Astro.props;

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
        {icon && (
            <link rel="icon" type="image/svg+xml" href={icon} />
            <link rel="icon" href={icon} />
        )}
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <slot name="head" />
	</head>
	<body class:list={["bg-primary", "flex", "flex-col"]}>
        <main class:list={["bg-screen"]}>
            <div class:list={["w-full", "max-w-page", "m-auto","flex", "flex-col", "gap-content", "p-content"]}>
                <slot />
            </div>
        </main>
        <Footer />
	</body>
</html>

